body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQc7AxQE7WP3MSVN3VTzmv6ttDaj-oanAsZI6erUk1H9E_988j8&usqp=CAU);
    background-size: cover;
}

nav{
    background-color: yellow;
    color: red;
}

nav ul li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

h1 {
    color: red;
    text-align: center;
}
